<!DOCTYPE html>
<html>
<head>
    <title>Преимущества - Программированние в GEEKS</title>
</head>
<body>
    <header>
        <h1>Преимущества</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/courses/">Курсы</a></li>
            <li><a href="/benefits/">Преимущества</a></li>
            <li><a href="/about/">О нас</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Почему выбрать нас?</h2>
            <ul>
                <li>Высококвалифицированные инструкторы с опытом</li>
                <li>Практическое обучение на реальных проектах</li>
                <li>Менторская поддержка на протяжении всего курса</li>
                <li>Возможность получить сертификат об окончании</li>
                <li>Помощь в трудоустройстве после обучения</li>
                <li>Бесплатное повторение не понятной для тебя месяца обучения</li>
                <li>Получение скидки при хорошем обучении</li>
            </ul>
        </section>
    </main>
    <footer>
        <p> 2023 Программирование в "GEEKS"</p>
    </footer>
</body>
</html>
