<!DOCTYPE html>
<html>
<head>
    <title>Курсы - Программирование на Python</title>
</head>
<body>
    <header>
        <h1>Курсы</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/courses/">Курсы</a></li>
            <li><a href="/benefits/">Преимущества</a></li>
            <li><a href="/about/">О нас</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Основы программирования Backend|Frontend</h2>
            <p>Длительность: 5месяцев </p>
            <p>Стоимость: 10000сом за месяц </p>
            <h3>Ценности</h3>
            <ul>
                <li>Освоение базовых принципов </li>
                <li>Практические задания и проекты</li>
                <li>Менторская поддержка</li>
            </ul>
        </section>
        <section>
            <h2>Мобильная разработка Android</h2>
            <p>Длительность: 6месяцев</p>
            <p>Стоимость: 10000сом за месяц </p>
            <h3>Ценности</h3>
            <ul>
                <li>Освоение базовых принципов </li>
                <li>Практические задания и проекты</li>
                <li>Менторская поддержка</li>
            </ul>
        </section>
        <section>
            <h2>UI/UX дизайн</h2>
            <p>Длительность: 3месяца</p>
            <p>Стоимость: 10000сом за месяц </p>
            <h3>Ценности</h3>
            <ul>
                <li>Освоение базовых принципов </li>
                <li>Практические задания и проекты</li>
                <li>Менторская поддержка</li>
            </ul>
        </section>
    </main>
    <footer>
        <p> 2023 Программирование в "GEEKS"</p>
    </footer>
</body>
</html>
