
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы по программированию</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">GEEKS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/">О нас</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/courses/">Курсы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/benefits/">Преимущество</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSsctinB2Mp92bf8OpMpQbfmWoRID38dtuRw&usqp=CAU" alt="Мобильная разработка" class="img-fluid mb-3">
            <h3>Android разработчик</h3>
            <p>Изучите создание мобильных приложений для Android с использованием современных технологий.</p>
            <p>Android-разработчик создает приложения для устройств на операционной системе Android. Он пишет код, работает над интерфейсом и дизайном, тестирует приложение и исправляет баги, а также адаптирует его под разные модели устройств (которых у Android великое множество).</p>
            <p>Цена: 10000сом</p>
            <p>Длительность</p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRWbxoopaovMFMCZIZTORyB2vfUcDeml_LxQ&usqp=CAU" alt="Мобильная разработка" class="img-fluid mb-3">
        </div>
        <div class="col-lg-6">
            <img src="https://storage.yandexcloud.net/plp-media-97af8aaaa1/CACHE/images/video_cover/b4e209fb5d975f3947c3477a2d8b4be920fa141b/51475c847728220cea68f9357c7efa25.png" alt="Веб-разработка" class="img-fluid mb-3">
            <h3>Python Backend</h3>
            <p>Backend — это внутренняя часть продукта, которая находится на сервере и скрыта от пользователей. Для ее разработки могут использоваться самые разные языки, например, Python, PHP, Go, JavaScript, Java, С#.</p>
            <p>В нашем случае мы изучаем backend c языком программирования.Почему Python? Потому что он является одним из самых актуальных языков в программировании и в том числе идеально подходит для Backend направления.Написанный на Python код, более удобочитаемым и понятным для программистов. Минималистичный синтаксис также позволяет реже обращаться к документации и писать меньше строк кода, что, в свою очередь, ускоряет работу над проектом. Обширная библиотека.</p>
            <p>Цена: 10000сом</p>
            <p>Длительность</p>
            <img src="https://knewit.kz/wp-content/uploads/2021/12/6-%D0%BC%D0%B5%D1%81%D1%8F%D1%86%D0%B5%D0%B2-%D0%BE%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D1%8F.png" alt="Веб-разработка" class="img-fluid mb-3">

        </div>
        <div class="col-lg-6">
            <img src="https://cdn.geekboots.com/geek/javascript-meta-1652702081069.jpg" alt="Веб-разработка" class="img-fluid mb-3">
            <h3>JavaScript Frontend </h3>
            <p>Frontend переводится с английского языка как «внешний интерфейс», backend — «серверная часть». Фронтенд — «лицо» системы; инструменты и компоненты, которые позволяют пользователю взаимодействовать с сайтом.</p>
            <p>Почему мы кодим на языке программирования JavaScript?Потому что Javascript одиин из самых актуальных языков программирования  и позволяет частично обрабатывать веб-страницы на компьютерах пользователя без запросов к серверу. Это экономит время и трафик, снижает нагрузку на сервер. Удобство пользовательских интерфейсов. Заполнение форм, выбор действий, активация кнопок, проверки ввода, реагирование на наведение / клики мыши и т.</p>
            <p>Цена: 10000сом</p>
            <p>Длительность</p>
            <img src="https://knewit.kz/wp-content/uploads/2021/12/6-%D0%BC%D0%B5%D1%81%D1%8F%D1%86%D0%B5%D0%B2-%D0%BE%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D1%8F.png" alt="Веб-разработка" class="img-fluid mb-3">
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
