<!DOCTYPE html>
<html>
<head>
    <title>Программирование в GEEKS</title>
</head>
<body>
    <header>
        <h1>Добро пожаловать на наш сайт!</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/courses/">Курсы</a></li>
            <li><a href="/benefits/">Преимущества</a></li>
            <li><a href="/about/">О нас</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Наши курсы по программированию</h2>
            <p>Выберите подходящий курс и начните свой путь к владению сферы программирование.</p>
        </section>
        <section>
            <h2>Почему выбрать нас?</h2>
            <ul>
                <li>Высококвалифицированные инструкторы</li>
                <li>Практические задания и проекты</li>
                <p>Остальная информация про наши преимущества во вкладке "Преимущества".</p>
                <a href="/benefits/">Преимущества</a>
            </ul>
        </section>
    </main>
    <footer>
        <p> 2023 Программирование в "GEEKS"</p>
    </footer>
</body>
</html>
