<!DOCTYPE html>
<html>
<head>
    <title>О нас - Программирование на Python</title>
</head>
<body>
    <header>
        <h1>О нас</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/courses/">Курсы</a></li>
            <li><a href="/benefits/">Преимущества</a></li>
            <li><a href="/about/">О нас</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>О компании</h2>
            <p>Мы являемся ведущими экспертами в области программирования на Backend,Android,UX/UI,Frontend сферах.</p>
        </section>
        <section>
            <h2>Наша миссия</h2>
            <p>Нашей миссией является обеспечение доступного и эффективного обучения программированию, помогая студентам достичь успеха в IT-индустрии и стать лучшими в своей сфере.</p>
        </section>
        <section>
            <h2>Наши инструкторы</h2>
            <p>Наши инструкторы - это высококвалифицированные профессионалы с глубоким пониманием языка программирования и опытом преподавания.</p>
        </section>
    </main>
    <footer>
        <p> 2023 Программирование в "GEEKS"</p>
    </footer>
</body>
</html>
